Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, managed, and accessed in a systematic way. It allows users to store, retrieve, and manipulate large amounts of data efficiently. Databases are widely used in various applications, ranging from simple to complex systems.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems:

SQL databases: These databases use structured query language (SQL) to interact with the data. They are based on a relational model and use tables to store data. SQL databases ensure data integrity, support complex queries, and provide ACID (Atomicity, Consistency, Isolation, Durability) properties. Examples of SQL databases include MySQL, Oracle, PostgreSQL, and Microsoft SQL Server.

NoSQL databases: These databases use a variety of data models for storing and retrieving data. Unlike SQL databases, NoSQL databases are not based on a rigid schema. They are highly scalable and flexible, allowing for horizontal scaling and handling large amounts of unstructured or semi-structured data. NoSQL databases include document databases (e.g., MongoDB), key-value stores (e.g., Redis), columnar databases (e.g., Cassandra), and graph databases (e.g., Neo4j).

The choice between SQL and NoSQL databases depends on factors such as data structure, scalability requirements, consistency needs, and the complexity of the application.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of the database objects, such as tables, indexes, and constraints. DDL statements are used to create, modify, and delete database objects.

CREATE: The CREATE statement is used to create new database objects, such as tables. For example, to create a table named "employees" with columns for "id," "name," and "salary," you can use the following SQL statement:

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    salary DECIMAL(10,2)
);

DROP: The DROP statement is used to delete database objects, such as tables. For example, to delete the "employees" table, you can use the following SQL statement:
DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of existing database objects. It can be used to add, modify, or drop columns, constraints, and other properties. For example, to add a new column named "age" to the "employees" table, you can use the following SQL statement:
    
    ALTER TABLE employees ADD COLUMN age INT;

    
 TRUNCATE: The TRUNCATE statement is used to delete all rows from a table while keeping the table structure intact. It is faster than the DELETE statement for removing all data from a table. For example, to remove all data from the "employees" table, you can use the following SQL statement:
    
    TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used to manipulate the data stored in the database.

INSERT: The INSERT statement is used to insert new rows into a table. It allows you to specify the values for each column or retrieve them from another table. For example
 
                   INSERT INTO employees (id, name, salary) VALUES (1, 'John Doe', 5000);

UPDATE: The UPDATE statement is used to modify existing data in a table. It allows you to update one or more columns of one or multiple rows based on specified conditions. For example,

                    UPDATE employees SET salary = 6000 WHERE id = 1;

DELETE: The DELETE statement is used to delete one or more rows from a table based on specified conditions. For example

                    DELETE FROM employees WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to retrieve data from a database.

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, apply filters and sorting, and perform calculations or transformations on the data. For example

     SELECT name, salary FROM employees;

The result of this query will be a set of rows containing the names and salaries of all employees.

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table. It enforces the uniqueness and integrity of the data in a table. Primary keys are used to ensure that there are no duplicate records and to establish relationships between tables. Each table can have only one primary key. For example, in an "employees" table, the "id" column can be designated as the primary key.

Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, called a parent-child relationship. The foreign key in one table refers to the primary key in another table, linking the two tables together. Foreign keys are used to maintain data integrity and enforce referential integrity constraints. For example, in a "orders" table, a "customer_id" column can be a foreign key that references the primary key "id" column in the "customers" table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector-python library. Here's an example code snippet:

  import mysql.connector

# Establish a connection to the MySQL database
    connection = mysql.connector.connect(
        host="localhost",
        user="your_username",
        password="your_password",
        database="your_database"
    )

# Create a cursor object to execute SQL queries
    cursor = connection.cursor()

# Execute an SQL query
    query = "SELECT * FROM employees"
    cursor.execute(query)

# Fetch all rows from the result
    rows = cursor.fetchall()

# Process the rows
    for row in rows:
        print(row)

# Close the cursor and the connection
    cursor.close()
    connection.close()

The mysql.connector module is imported to establish a connection to the MySQL database.

The connect() function is used to create a connection object by providing the necessary connection details such as host, user, password, and database.

The cursor() method is called on the connection object to create a cursor object. The cursor

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM: The FROM clause specifies the tables from which the data will be retrieved.

WHERE: The WHERE clause filters the rows based on specified conditions.

GROUP BY: The GROUP BY clause is used to group rows based on one or more columns.

HAVING: The HAVING clause filters the grouped rows based on specified conditions.

SELECT: The SELECT clause specifies the columns to be retrieved from the result set.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns.

LIMIT/OFFSET: The LIMIT/OFFSET clause is used to limit the number of rows returned or to skip a certain number of rows.

It's important to note that not all clauses are required in every query. The basic structure of an SQL query is as follows:


    SELECT column1, column2, ...
    FROM table
    WHERE condition
    GROUP BY column
    HAVING condition
    ORDER BY column
    LIMIT number
    OFFSET number;



However, clauses like GROUP BY, HAVING, and LIMIT/OFFSET are optional and can be omitted depending on the specific requirements of the query. The core components of a query are the SELECT, FROM, and WHERE clauses, as they are responsible for retrieving and filtering the data.